<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   https://www.springframework.org/schema/context/spring-context.xsd">


	<!--默认使用无参构造实例化对象-->
	<bean class="com.cheng.bean.User" id="user">
		<property name="id" value="001"/>
		<property name="name" value="huage"/>
	</bean>

	<bean class="com.cheng.bean.People" id="people">
		<property name="name" value="张三"/>
		<property name="age" value="18"/>
	</bean>

	<!--<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>-->
	<bean class="com.cheng.util.MyBeanPostProcessor" id="myBeanPostProcessor"/>
	<!--<bean class="com.cheng.util.MyInstantiationAwareBeanPostProcessor" id="myInstantiationAwareBeanPostProcessor"/>-->



</beans>