<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--默认使用无参构造实例化对象-->
	<bean class="com.cheng.bean.User" id="user">
		<property name="id" value="001"/>
		<property name="name" value="huage"/>
	</bean>
</beans>